.topNav {
    background-color: whitesmoke;
    overflow: hidden;
}

.title {
    float: left;    
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    background-color: #4aaaa5;
    width: 150px;
    border: 1px solid #4aaaa5;
    padding: 5px;
    margin: 10px;
    margin-left: 200px;
    margin-bottom: 0px;
}

.links {
    float: right;
    margin-right: 300px;
    margin-top: 40px;
}

#about {
    padding-right: 20px;
}
#portfolio {
    padding-right: 20px;
}

.body { 
   
}

.mainCard{
     border: 20px solid gray;
}



h2 {
    font-size: 30px;
    color: #4aaaa5;
    float: left;
    margin-left: 210px;
    margin-top: 70px;
}

.break {
    width: 800px;
    background-color: gray;
    padding: 0.5px;
    margin-top: 110px;
    margin-left: 200px;
    
}

.dogImage {
    margin-left: 50px;  
}
